@model IEnumerable<FinalProject.ViewModels.RoomManagementVM>
@{
    ViewData["Title"] = "Room Management";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@section BreadCum {
    <div class="hero page-inner overlay"
         style="background-image: url('@Url.Content("~/images/hero_bg_2.jpg")')">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center mt-5">
                    <h1 class="heading" data-aos="fade-up">Room Management</h1>
                </div>
            </div>
        </div>
    </div>
}

<div class="container-fluid py-5">
    <div class="container py-5">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["FailMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["FailMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">RoomPost</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Size</th>
                        <th scope="col">Address</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="~/img/Room/@item.RoomImage" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="@item.RoomName">
                                </div>
                            </th>
                            <td>
                                @if (item.StatusId != 3) 
                                {
                                    <a asp-action="Detail" asp-controller="RoomPost" asp-route-id="@item.PostId">
                                        <p class="mb-0 mt-4">@item.RoomName</p>
                                    </a>
                                }
                                else
                                {
                                    <p class="mb-0 mt-4 text-muted">@item.RoomName (Đã hết hạn)</p>
                                }
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.RoomPrice.ToString("N0") ₫</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.RoomSize</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.RoomAddress</p>
                            </td>
                            <td>

                                @if (item.StatusId == 2)
                                {
                                    <form asp-action="UnhideRoomPost" asp-controller="RoomPost" method="post" style="display: inline;">
                                        <input type="hidden" name="idPhong" value="@item.PostId" />
                                        <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Unhide Post" onclick="return confirm('Bạn có chắc muốn hiện bài đăng này?')">
                                            <i class="fa fa-eye text-success"></i>
                                        </button>
                                    </form>


                                    <form asp-action="DeleteRoomPost" asp-controller="RoomPost" method="post" style="display: inline;" id="deleteForm">
                                        <input type="hidden" name="idPhong" value="@item.PostId" />
                                        <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Delete" onclick="return confirmDelete()">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </form>
                                }

                                @if (item.StatusId == 3)
                                {
                                    <form asp-action="RelistRoomPost" asp-controller="RoomPost" method="post" style="display: inline;">
                                        <input type="hidden" name="idPhong" value="@item.PostId" />
                                        <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Relist">
                                            <i class="fa fa-refresh text-success"></i>
                                        </button>
                                    </form>

                                    <form asp-action="DeleteRoomPost" asp-controller="RoomPost" method="post" style="display: inline;" id="deleteForm">
                                        <input type="hidden" name="idPhong" value="@item.PostId" />
                                        <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Delete" onclick="return confirmDelete()">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </form>
                                }

                                @if (item.StatusId == 1)
                                {
                                    <form asp-action="UpdateRoomView" asp-controller="RoomPost" method="post" style="display: inline;">
                                        <input type="hidden" name="idPhong" value="@item.PostId" />
                                        <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Update">
                                            <i class="fa fa-pencil-alt text-primary"></i>
                                        </button>
                                    </form>

                                    <form asp-action="HideRoomPost" asp-controller="RoomPost" method="post" style="display: inline;">
                                        <input type="hidden" name="idPhong" value="@item.PostId" />
                                        <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Hide Post" onclick="return confirm('Bạn có chắc muốn ẩn bài đăng này?')">
                                            <i class="fa fa-eye-slash text-warning"></i>
                                        </button>
                                    </form>

                                    <form asp-action="DeleteRoomPost" asp-controller="RoomPost" method="post" style="display: inline;" id="deleteForm">
                                        <input type="hidden" name="idPhong" value="@item.PostId" />
                                        <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Delete" onclick="return confirmDelete()">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </form>

                                    <form asp-action="SetPostId" asp-controller="RegisterService" method="post" style="display: inline;">
                                        <input type="hidden" name="postId" value="@item.PostId" />
                                        <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Register Service">
                                            <i class="fa fa-check text-success"></i>
                                        </button>
                                    </form>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function confirmDelete() {
        return confirm("Bạn có chắc chắn muốn xóa bài đăng này không?");
    }
</script>
