@model IEnumerable<FinalProject.ViewModels.RoomManagementVM>
@{
    ViewData["Title"] = "Room Management";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@section BreadCum {
    <div class="hero page-inner overlay"
         style="background-image: url('@Url.Content("~/images/hero_bg_2.jpg")')">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center mt-5">
                    <h1 class="heading" data-aos="fade-up">Room Management</h1>
                </div>
            </div>
        </div>
    </div>
}

<div class="container-fluid py-5">
    <div class="container py-5">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["FailMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["FailMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">RoomPost</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Size</th>
                        <th scope="col">Address</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center">
                                    <img src="~/img/Room/@item.RoomImage" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="@item.RoomName">
                                </div>
                            </th>
                            <td>
                                <a asp-action="Detail" asp-controller="RoomPost" asp-route-id="@item.PostId">
                                    <p class="mb-0 mt-4">@item.RoomName</p>
                                </a>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.RoomPrice.ToString("N0") ₫</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.RoomSize</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.RoomAddress</p>
                            </td>
                            <td>
                                <form asp-action="UpdateFavoriteItem" asp-controller="FavoriteList" method="post" style="display: inline;">
                                    <input type="hidden" name="idPhong" value="@item.PostId" />
                                    <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Update">
                                        <i class="fa fa-pencil-alt text-primary"></i>
                                    </button>
                                </form>

                                <form asp-action="@(User.Identity.IsAuthenticated ? "DeleteFavoriteItemAuthenticated" : "DeleteFavoriteItemAnonymous")"
                                      asp-controller="FavoriteList" method="post" style="display: inline;">
                                    <input type="hidden" name="idPhong" value="@item.PostId" />
                                    <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Delete">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </form>

                                <form asp-action="RegisterService" asp-controller="FavoriteList" method="post" style="display: inline;">
                                    <input type="hidden" name="idPhong" value="@item.PostId" />
                                    <button type="submit" class="btn btn-md rounded-circle bg-light border mt-4" title="Register Service">
                                        <i class="fa fa-check text-success"></i>
                                    </button>
                                </form>
                            </td>



                        </tr>
                    }
                </tbody>
            </table>
        </div>
