@model int
@using FinalProject.Data;
<a class="position-relative my-auto" data-bs-toggle="dropdown">
    <i class="fa fa-bell fa-2x"></i>
    <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center px-1" style="top: 2px; left: 29px; height: 20px; min-width: 20px;">@Model</span>
</a>

<ul class="dropdown-menu" style="width:350px; max-height: 330px; overflow-y: auto; left:100px">
    @if (ViewBag.lstReportFeedback.Count > 0)
    {
        foreach (var item in ViewBag.lstReportFeedback)
        {
            if (item.ViolationCount > 15)
            {
                <li class="dropdown-item">
                    <p style="white-space: normal;">Bài viết có địa chỉ <b style="font-style:italic; color:#005555">@item.Address</b> của bạn đã bị ẨN vì vi phạm "<b style="color:#005555; font-style:italic;">@item.FeedbackName</b>"</p>
                </li>

            }
            else
            {
                <li class="dropdown-item">
                    <p style="white-space: normal; margin:0;">Bài viết có địa chỉ <b style="color:#005555;font-style:italic;">@item.Address</b> của bạn đã vi phạm "<b style="color:#005555;font-style:italic;">@item.FeedbackName</b>"</p>
                </li>

            }

            <li class="dropdown-item">
                <a href="@Url.Action("Response", "RoomFeedback", new { postId = item.PostId, feedbackId = item.FeedbackId })" class="text-danger ms-2 d-flex justify-content-end">
                    <i class="fa fa-flag" style="color:red;"></i> <i>Phản hồi</i>
                </a>
            </li>

        }
    }
    else
    {
        <li class="text-center">Không có thông báo nào!</li>
    }
</ul>
