@using FinalProject.ViewModels.Admin
@model PagedListVM<FinalProject.ViewModels.Admin.RoomPostManagementVM>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var queryString = !string.IsNullOrEmpty(ViewBag.SearchQuery) ? $"&searchQuery={ViewBag.SearchQuery}" : "";
}

<div class="col-lg-12 mt-4 mb-4" style="width: 100%;">
    <div class="iq-edit-list-data">
        <div class="tab-content">
            <div class="d-flex justify-content-between mb-3">
                <form class="d-flex ms-auto" action="@Url.Action("ViolatingPostManagement")" method="get">
                    <input type="text" name="searchQuery" class="form-control" placeholder="Tìm kiếm..." style="width: 450px; border-radius: 20px;">
                    <button type="submit" class="btn btn-primary me-2" style="background-color: #005555; color: white; margin-left: 10px; padding: 8px 15px;">
                        Tìm kiếm
                    </button>
                    <a href="@Url.Action("ViolatingPostManagement", "ViolationResponseManagement")" style="background-color: #EAE7D6; color: black;" class="btn btn-secondary">Hủy bỏ</a>
                </form>
            </div>
            <div class="tab-pane fade active show" id="personal-information" role="tabpanel" style="margin-top: 50px;">
                <div class="card">
                    <div class="card-header d-flex justify-content-center align-items-center" style="height: 50px;">
                        <div class="header-title">
                            <h4 class="card-title">Danh sách các bài đăng vi phạm</h4>
                        </div>
                    </div>

                    <div>
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        @if (TempData["FailMessage"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                @TempData["FailMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        @if (!Model.Items.Any())
                        {
                            <div class="alert alert-info text-center" style="background-color: white; border-color: white; padding-bottom: 0px;">
                                <i class="fa fa-database" style="font-size: 30px; margin-right: 10px;"></i>
                                <span>Không có bài đăng</span>
                            </div>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" style="margin-bottom: 0px;">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">STT</th>
                                            <th scope="col" class="text-center">Hình ảnh</th>
                                            <th scope="col" class="text-center">Địa chỉ</th>
                                            <th scope="col" class="text-center">Chủ trọ</th>
                                            <th scope="col" class="text-center">Dịch vụ</th>
                                            <th scope="col" class="text-center">Trạng thái</th>
                                            <th scope="col" class="text-center">Xử lý</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Items)
                                        {
                                            <tr>
                                                <td class="text-center">@(@Model.Items.ToList().IndexOf(item) + 1)</td>
                                                <th class="text-center" scope="row">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <img src="~/img/Room/@item.RoomImage" class="img-fluid rounded-circle" style="width: 80px; height: 80px;" alt="@item.Address">
                                                    </div>
                                                </th>
                                                <td class="text-center">@item.Address</td>
                                                <td class="text-center">@item.FullName</td>
                                                <td class="text-center">@item.ServiceName</td>
                                                <td class="text-center">@item.StatusName</td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("DeleteViolatingPost", new { postId = item.PostId })" class="btn btn-sm" style="background-color: #d9534f; color: white; border-radius: 20px; padding: 8px 15px;" title="Delete" onclick="return confirmDelete()">
                                                        <i class="fa fa-user-check"></i> Xóa bài đăng
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination justify-content-center">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ViolatingPostManagement", new { pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })@queryString">Trước</a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("ViolatingPostManagement", new { pageNumber = i, pageSize = Model.PageSize })@queryString">
                    @i
                </a>
            </li>
        }

        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ViolatingPostManagement", new { pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })@queryString">Tiếp theo</a>
            </li>
        }
    </ul>
</nav>



<script>
    function confirmDelete() {
        return confirm("Bạn có chắc chắn muốn xóa bài đăng này không?");
    }
</script>
